.DS_Store
node_modules
**/**/node_modules
/dist
/app/public/theme-chalk/lib
.svn

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
/server/dist/
/server/public/translate/
